﻿@model KPIModelView
@{
    ViewData["Title"] = "ProcessKPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader{
    <img src="~/img/graphic.png" style="height:auto; width:auto; max-width:40px;float:left">

    <h1 style="line-height:40px; float:left">
        Dashboard Report : Process KPI
        <small>Version 1.0</small>
    </h1>
}
<p>@ViewBag.Message</p>
<!-- Main content -->
<div class="content body row">
    <!-- Selection -->
    <section id="select" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Select Detail</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "KPI", FormMethod.Post))
                    {
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="col-lg-2 col-md-2  col-sm-12 col-xs-12">
                                <h4><strong>Selection Region</strong></h4>
                                @if (ViewData.ContainsKey("Regional"))
                                {
                                    @Html.DropDownListFor(Model => Model.selectionId, ViewData["regional"] as List<SelectListItem>, new { @id = "Regional", @name = "Regional", @class = "form-control" })
                                }
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4><strong>Area</strong></h4>
                                @Html.DropDownListFor(Model => Model.areaId, new SelectList(string.Empty, "Value", "Text"), "--- Select Area ---", new { @id = "Area", @name = "Area", @class = "form-control" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4><strong>Month</strong></h4>
                                @if (ViewData.ContainsKey("Month"))
                                {
                                    @Html.DropDownListFor(Model => Model.monthId, ViewData["month"] as List<SelectListItem>, new { @id = "Month", @name = "Month", @class = "form-control" })
                                }

                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- /#selection -->
    <!-- Graphic Sell Thru Summary -->
    <section id="sellthrusummary" class="col-lg-12">
        <div class="col-lg-12">
            <h2 style="text-align:center">Sell Thru Summary</h2>
            <!-- GRAPHIC -->
            <div class="box box-primary col-lg-12">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body row">
                    <div class="col-lg-12">
                        @if (ViewData["selected"] != null)
                        {
                            <div class="col-lg-2 col-sm-6 col-xs-12">
                                <strong>@ViewData["areaId"]</strong>
                            </div>
                            <div class="col-lg-10 col-sm-6 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@ViewData["percentage"]" aria-valuemin="0" aria-valuemax="100" style="background:#940094; width:@ViewData["percentageWidth"]%">
                                        @ViewData["percentage"]%
                                    </div>
                                    @ViewData["sellThruGap"]
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box box-primary col-lg-12">
                <div class="box-header with-border">
                    <div class="box-title">
                        <h3>Sell Thru Summary Graphic</h3>
                          <div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#157c0c;color:white;"></div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#ef8f00;color:white;">Top</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#c91e12;color:white;">10</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#35af2a;color:black;">Non</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#e0e01a;color:black;">Top</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#ff0000;color:black;">10</div>
                        </div>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body row">
                    <div>
                        @if (ViewData["selected"] != null)
                        {
                            //for (int i = 0; i < (int)ViewData["totalSummary"]; i++)
                            for (int i = 0; i < Model.KPIList.Count(); i++)
                            {
                                <div class="col-lg-2 col-sm-6 col-xs-12">
                                    <strong style="color: @Model.KPIList[i].styleBarSellThru;">@Model.KPIList[i].nameSellThru</strong>
                                </div>
                                <div class="col-lg-10 col-sm-6 col-xs-12">
                                    <form role="form" name="pick" asp-controller="KPI" asp-action="Index" method="post">

                                        <input type="text" name="pick" value="@Model.KPIList[i].nameSellThru" hidden>
                                        <input type="text" name="select" value="@ViewData["selected"]" hidden>
                                        <input type="text" name="area" value="@ViewData["areaId"]" hidden>
                                        <input type="text" name="areaSelect" value="@Model.KPIList[i].nameSellThru" hidden>
                                        <input type="text" name="month" value="@ViewData["monthId"]" hidden>
                                        <div class="progress" onclick="this.parentNode.submit();">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.KPIList[i].topSellThru" aria-valuemin="0"
                                                 aria-valuemax="@Model.KPIList[i].sumSellThru" style="background:@Model.KPIList[i].styleTopSellThru; width:@Model.KPIList[i].topwidthSellThru%">
                                                @Model.KPIList[i].toppercentageSellThru%
                                            </div>
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.KPIList[i].nontopSellThru" aria-valuemin="0"
                                                 aria-valuemax="@Model.KPIList[i].sumSellThru" style="background:@Model.KPIList[i].styleNonSellThru; width:@Model.KPIList[i].nontopwidthSellThru%">
                                                @Model.KPIList[i].nontoppercentageSellThru%
                                            </div>
                                            @Model.KPIList[i].gapSellThru
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /Graphic Sell Thru Summary -->
    <!-- ============================================================= -->
    <!-- Graphic Effective Reach and DSP -->
    <section id="effectivedsp" class="col-lg-12">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-sm-12">
                <h2 style="text-align:center">Effective Reach</h2>
                <!-- GRAPHIC -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Effective Reach Graphic</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @if (ViewData["selected"] != null)
                    { if (Model.EffReachLists != null)
                        {
                            for (int i = 0; i < Model.EffReachLists.Count(); i++)
                            {
                                if(Model.EffReachLists[i].effReachAct > 0) { 
                                    var width = System.Math.Round(100 * Model.EffReachLists[i].effReachAct / System.Convert.ToDouble(ViewData["effReachMax"]));
                                    <div class="box-body row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-3 col-sm-12 col-xs-12">
                                                <strong style="color: @Model.EffReachLists[i].styleEffReach">@Model.EffReachLists[i].nameEffReach</strong>
                                            </div>
                                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="@Model.EffReachLists[i].effReachAct"
                                                         aria-valuemin="0" aria-valuemax="@ViewData["effReachMax"]" style="width:@width%">
                                                        @Model.EffReachLists[i].effReachAct
                                                    </div>
                                                    @Model.EffReachLists[i].effReachGap
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-sm-12">
                <h2 style="text-align:center">DSP Effectiveness</h2>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">DSP Effectivity Graphic</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @if (ViewData["selected"] != null)
                    {
                        <div class="box-body row">
                            <div class="col-lg-12">
                                <div class="col-lg-3 col-sm-12 col-xs-12">
                                    <strong style="color: {{$color}}">{{$dsp[$i]["name"]}}</strong>
                                </div>
                                <div class="col-lg-9 col-sm-12 col-xs-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{$dsp[$i]["act"]}}" aria-valuemin="0" aria-valuemax="{{$dsp[$i]["target"]}}" style="width:{{100*$dsp[$i]["act"]/$dsp[$i]["target"]}}%">
                                            {{$dsp[$i]["act"]}}
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{$dsp[$i]["act"]}}" aria-valuemin="0" aria-valuemax="{{$dsp[$i]["target"]}}" style="width:{{100-(100*$dsp[$i]["act"]/$dsp[$i]["target"])}}%">
                                            {{$dsp[$i]["gap"]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                     }
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================= -->

    <section id="skudrop" class="col-lg-12">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-sm-12">
                <h2 style="text-align:center">SKU per Store</h2>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">SKU per Store Graphic</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @if (ViewData["selected"] != null)
                    {
                        <div class="box-body row">
                            <div class="col-lg-12">
                                <div id="skuchart" style="width: 100%; height: 500px;"></div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                     }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-sm-12">
                <h2 style="text-align:center">Drop Size</h2>
                <!-- GRAPHIC -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Drop Size Graphic</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @if (ViewData["selected"] != null)
                    {
                        <div class="box-body row">
                            <div class="col-lg-12">
                                <div id="dropsizechart" style="width: 100%; height: 500px;"></div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                     }
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================================= -->

<!-- /.container -->
</div>
<!-- /.content-wrapper -->

<!-- jQuery 2.2.3 -->
<script src="~/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="~/adminlte/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/adminlte/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/adminlte/dist/js/demo.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/radar.js"></script>
<script src="https://www.amcharts.com/lib/3/funnel.js"></script>
<!--<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>-->
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

@if (ViewData["selected"] != null)
{
    <script type="text/javascript">
        var chart = AmCharts.makeChart("dropsizechart", {
            "type": "funnel",
            "theme": "light",
            "hideCredits": true,
            "dataProvider": <?php echo json_encode($dropsize); ?>,
            "balloon": {
                "fixedPosition": true
            },
            "valueField": "dropsize",
            "titleField": "title",
            "descriptionField": "store",
            "marginRight": 160,
            "marginLeft": 30,
            "startX": -500,
            "depth3D": 100,
            "angle": 40,
            "outlineAlpha": 1,
            "outlineColor": "#FFFFFF",
            "outlineThickness": 2,
            "labelPosition": "right",
            "labelText": "[[title]]",
            "balloonText": "[[title]]: [[value]] from [[description]] store(s)",
            "export": {
                "enabled": false
            }
} );

        var chart = AmCharts.makeChart("skuchart", {
            "type": "radar",
            "theme": "light",
            "hideCredits": true,
            "dataProvider": [{
                "store": "GL",
                "sku": <?php echo $sku["GL"];?>
  }, {
                "store": "TL",
                "sku": <?php echo $sku["TL"];?>
  }, {
            "store": "TB",
                "sku": <?php echo $sku["TB"];?>
  }, {
            "store": "TD",
                "sku": <?php echo $sku["TD"];?>
  }, {
            "store": "PND",
                "sku": <?php echo $sku["PND"];?>
  }, {
            "store": "SMM",
                "sku": <?php echo $sku["SMM"];?>
  }, {
            "store": "DL",
                "sku": <?php echo $sku["DL"];?>
  } , {
            "store": "PR",
                "sku": <?php echo $sku["PR"];?>
  } , {
            "store": "OT",
                "sku": <?php echo $sku["OT"];?>
  } , {
            "store": "DIY",
                "sku": <?php echo $sku["DIY"];?>
  }  ],
        "valueAxes": [{
            "axisTitleOffset": 20,
            "minimum": 0,
            "axisAlpha": 0.15
        }],
            "startDuration": 2,
                "graphs": [{
                    "balloonText": "[[value]] SKU per month",
                    "bullet": "round",
                    "lineThickness": 2,
                    "valueField": "sku"
                }],
                    "categoryField": "store",
                        "export": {
            "enabled": true
        }
} );
    </script>
}

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $("#Regional").change(function () {
            $("#Area").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetArea")',
            dataType: 'json',
            data: { id: $("#Regional").val() },
            success: function (areas) {
                console.log(areas);
                $.each(areas, function (i, area) {
                        $("#Area").append('<option value="' + area.value + '"> ' + area.text + '</option > ');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve area.' + ex);
            }
        });
        return false;
        })
    });

        
</script>
}