﻿<!-- Graphic Effective Reach and DSP -->
<p>@ViewBag.Message</p>
<section id="effectivedsp" class="col-lg-12">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-sm-12">
            <h2 style="text-align:center">Effective Reach</h2>
            <!-- GRAPHIC -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Effective Reach Graphic</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                @if (ViewData["selected"] != null)
                {
                    <div class="box-body row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-sm-12 col-xs-12">
                                <strong style="color: {{$color}}">{{$effreach[$i]["name"]}}</strong>
                            </div>
                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-{{$bar}}" role="progressbar" aria-valuenow="{{$effreach[$i]["act"]}}" aria-valuemin="0" aria-valuemax="{{$maxEffReach}}" style="width:{{100*$effreach[$i]["act"]/$maxEffReach}}%">
                                        {{$effreach[$i]["act"]}}
                                    </div>
                                    {{$effreach[$i]["gap"]}}
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- /.box-body -->
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-sm-12">
            <h2 style="text-align:center">DSP Effectiveness</h2>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">DSP Effectivity Graphic</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                @if (ViewData["selected"] != null)
                {
                    <div class="box-body row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-sm-12 col-xs-12">
                                <strong style="color: {{$color}}">{{$dsp[$i]["name"]}}</strong>
                            </div>
                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{$dsp[$i]["act"]}}" aria-valuemin="0" aria-valuemax="{{$dsp[$i]["target"]}}" style="width:{{100*$dsp[$i]["act"]/$dsp[$i]["target"]}}%">
                                        {{$dsp[$i]["act"]}}
                                    </div>
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{$dsp[$i]["act"]}}" aria-valuemin="0" aria-valuemax="{{$dsp[$i]["target"]}}" style="width:{{100-(100*$dsp[$i]["act"]/$dsp[$i]["target"])}}%">
                                        {{$dsp[$i]["gap"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- /.box-body -->
                }
            </div>
        </div>
    </div>
</section>