﻿<!-- Graphic Sell Thru and Effective Reach -->
<p>@ViewData["selected"]</p>
<section id="sellthrueffectivedsp">
    @if (((string)ViewData["selected"] == "territory") || ((string)ViewData["selected"] == "region"))
    {
        <div class="col-lg-6 col-sm-12">
            <h2 style="text-align:center">Sell Thru</h2>
            <!-- GRAPHIC -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sell Thru Graphic</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-sm-12 col-xs-12">
                            <strong>name</strong>
                        </div>
                        <div class="col-lg-9 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:23%">
                                    23%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

            <div class="col-lg-6 col-sm-12">
                <h2 style="text-align:center">Sell Thru per Sales</h2>
                <!-- GRAPHIC -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sell Thru per Sales Graphic</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-sm-12 col-xs-12">
                                <strong style="color: green;">namee</strong>
                            </div>
                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width:12%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
    }
    else
    {
        <div class="col-lg-12 col-sm-12">
            <h2 style="text-align:center">Sell Thru </h2>
            <!-- GRAPHIC -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sell Thru Graphic</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-sm-12 col-xs-12">
                            <strong style="color:red"></strong>
                        </div>
                        <div class="col-lg-9 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-" role="progressbar" aria-valuenow="{{$sellthru[$i]["act"]}}" aria-valuemin="0" aria-valuemax="{{$maxSellThru}}" style="width:{{$sellthru[$i]["percentage"]/($maxSellThru/100)}}%">
                                    %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    }

</section>