﻿@model KPIModelView
@{
    ViewData["Title"] = "MarketingPromoReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader{
    <img src="~/img/graphic.png" style="height:auto; width:auto; max-width:40px;float:left">

    <h1 style="line-height:40px; float:left">
        Dashboard Report : Marketing Promo Report
        <small>Version 1.0</small>
    </h1>
}

<!-- Main content -->
<div class="content body row">
    <!-- Selection -->
    <section id="select" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Select Detail</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "SalesAndStock", FormMethod.Post))
                    {
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="col-lg-2 col-md-2  col-sm-12 col-xs-12">
                                <h4><strong>Selection Region</strong></h4>
                                @if (ViewData.ContainsKey("Regional"))
                                {
                                    @Html.DropDownListFor(Model => Model.selectionId, ViewData["regional"] as List<SelectListItem>, new { @id = "Regional", @name = "Regional", @class = "form-control" })
                                }
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4><strong>Area</strong></h4>
                                @Html.DropDownListFor(Model => Model.areaId, new SelectList(string.Empty, "Value", "Text"), "--- Select Area ---", new { @id = "Area", @name = "Area", @class = "form-control" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4><strong>Month</strong></h4>
                                @if (ViewData.ContainsKey("Month"))
                                {
                                    @Html.DropDownListFor(Model => Model.monthId, ViewData["month"] as List<SelectListItem>, new { @id = "Month", @name = "Month", @class = "form-control" })
                                }

                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <section id="charts" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php for($i=0; $i<6; $i++){ ?>
            <div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">{{$marketing[$i]['name']}}</h3>
                    </div>
                    <div class="box-body" style="height: 250px">
                        <div id="{{'chartdiv'.($i+1)}}" style="width: 100%;height: 400px"></div>
                    </div>
                    <div class="box-footer text-center">
                        <p class="box-title">{{'value : '.$marketing[$i]['value']}}</p>
                        <p class="box-title">{{'target : '.$marketing[$i]['target']}}</p>
                    </div>
                </div>
            </div>
    </section>
    <!-- /#selection -->

</div><!-- /.content -->
<!-- /.content-wrapper -->
<!-- jQuery 2.2.3 -->
<script src="~/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="~/adminlte/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/adminlte/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/adminlte/dist/js/demo.js"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Regional").change(function () {
                $("#Area").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetArea")',
                dataType: 'json',
                data: { id: $("#Regional").val() },
                success: function (areas) {
                    console.log(areas);
                    $.each(areas, function (i, area) {
                         $("#Area").append('<option value="' + area.value + '"> ' + area.text + '</option > ');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve area.' + ex);
                }
            });
            return false;
            })
        });
    </script>
}
