﻿@{
    ViewData["Title"] = "Home Page";
}



@section PageHeader{ 
    <img src="~/img/graphic.png" style="height:auto; width:auto; max-width:40px;float:left">

    <h1 style="line-height:40px; float:left">
        @ViewData["total_month"]
        <small>Version 1.0</small>
    </h1>
}
    <!-- Main content -->
    <div class="content body row">
        <section id="chart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3>Sell Thru Trends</h3>
                </div>
                <div class="box-body">
                    <div id="chartSellThru" style="width:100%; height:400px"></div>
                </div>
            </div>
        </section>
        <section id="chart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3>Sell In Trends</h3>
                </div>
                <div class="box-body">
                    <div id="chartSellIn" style="width:100%; height:400px"></div>
                </div>
            </div>
        </section>
        <section id="chart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3>Stock Trends</h3>
                </div>
                <div class="box-body">
                    <div id="chartStock" style="width:100%; height:400px"></div>
                </div>
            </div>
        </section>
    </div><!-- /.content -->
    <!-- jQuery 2.2.3 -->
    <script src="~/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/adminlte/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/adminlte/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/adminlte/dist/js/demo.js"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


    @section Scripts{
        <script type="text/javascript">

            var chartSellThru = AmCharts.makeChart("chartSellThru", {
                "type": "serial",
                "theme": "light",
                "hideCredits": true,
                "marginRight": 40,
                "marginLeft": 80,
                "autoMarginOffset": 20,
                "mouseWheelZoomEnabled": true,
                "categoryField": "month",
                "startDuration": 1,
                "handDrawThickness": 0,
                "prefixesOfBigNumbers": [
                    {
                        "number": 1000,
                        "prefix": " Mio"
                    },
                    {
                        "number": 1000000,
                        "prefix": " Bio"
                    },
                    {
                        "number": 1000000000,
                        "prefix": " G"
                    }
                ],
                "usePrefixes": true,
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "trendLines": [],
                "graphs": [
                    {
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#000000",
                        "bulletSize": 5,
                        "fillAlphas": 0.3,
                        "hideBulletsCount": 50,
                        "id": "AmGraph-1",
                        "lineColor": "#FF0000",
                        "lineThickness": 2,
                        "title": "target",
                        "useLineColorForBulletBorder": true,
                        "valueField": "target"
                    },
                    {
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#FFFFFF",
                        "bulletSize": 5,
                        "hideBulletsCount": 50,
                        "id": "AmGraph-2",
                        "lineColor": "#000000",
                        "lineThickness": 2,
                        "title": "value",
                        "useLineColorForBulletBorder": true,
                        "valueField": "value"
                    }
                ],
                "chartScrollbar": {
                    "graph": "AmGraph-2",
                    "oppositeAxis": false,
                    "offset": 30,
                    "scrollbarHeight": 80,
                    "backgroundAlpha": 0,
                    "selectedBackgroundAlpha": 0.1,
                    "selectedBackgroundColor": "#888888",
                    "graphFillAlpha": 0,
                    "graphLineAlpha": 0.5,
                    "selectedGraphFillAlpha": 0,
                    "selectedGraphLineAlpha": 1,
                    "autoGridCount": true,
                    "color": "#AAAAAA"
                },
                "chartCursor": {
                    "pan": true,
                    "valueLineEnabled": true,
                    "valueLineBalloonEnabled": true,
                    "cursorAlpha": 1,
                    "cursorColor": "#258cbb",
                    "limitToGraph": "AmGraph-2",
                    "valueLineAlpha": 0.2,
                    "valueZoomable": true
                },
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "axisAlpha": 0,
                        "position": "left",
                        "ignoreAxisWidth": true
                    }
                ],
                "allLabels": [],
                "categoryAxis": {
                    "parseDates": false,
                    "dashLength": 1,
                    "minorGridEnabled": true
                },
                "balloon": {},
                "export": {
                    "enabled": true
                },
                "dataProvider": @Html.Raw((ViewData["json1"]))

            });
            var chartSellIn = AmCharts.makeChart("chartSellIn", {
                "type": "serial",
                "theme": "light",
                "hideCredits": true,
                "marginRight": 40,
                "marginLeft": 80,
                "autoMarginOffset": 20,
                "mouseWheelZoomEnabled": true,
                "categoryField": "month",
                "startDuration": 1,
                "handDrawThickness": 0,
                "prefixesOfBigNumbers": [
                    {
                        "number": 1000,
                        "prefix": " Mio"
                    },
                    {
                        "number": 1000000,
                        "prefix": " Bio"
                    },
                    {
                        "number": 1000000000,
                        "prefix": " G"
                    }
                ],
                "usePrefixes": true,
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "trendLines": [],
                "graphs": [
                    {
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#000000",
                        "bulletSize": 5,
                        "fillAlphas": 0.3,
                        "hideBulletsCount": 50,
                        "id": "AmGraph-1",
                        "lineColor": "#FF0000",
                        "lineThickness": 2,
                        "title": "target",
                        "useLineColorForBulletBorder": true,
                        "valueField": "target"
                    },
                    {
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#FFFFFF",
                        "bulletSize": 5,
                        "hideBulletsCount": 50,
                        "id": "AmGraph-2",
                        "lineColor": "#000000",
                        "lineThickness": 2,
                        "title": "value",
                        "useLineColorForBulletBorder": true,
                        "valueField": "value"
                    }
                ],
                "chartScrollbar": {
                    "graph": "AmGraph-2",
                    "oppositeAxis": false,
                    "offset": 30,
                    "scrollbarHeight": 80,
                    "backgroundAlpha": 0,
                    "selectedBackgroundAlpha": 0.1,
                    "selectedBackgroundColor": "#888888",
                    "graphFillAlpha": 0,
                    "graphLineAlpha": 0.5,
                    "selectedGraphFillAlpha": 0,
                    "selectedGraphLineAlpha": 1,
                    "autoGridCount": true,
                    "color": "#AAAAAA"
                },
                "chartCursor": {
                    "pan": true,
                    "valueLineEnabled": true,
                    "valueLineBalloonEnabled": true,
                    "cursorAlpha": 1,
                    "cursorColor": "#258cbb",
                    "limitToGraph": "AmGraph-2",
                    "valueLineAlpha": 0.2,
                    "valueZoomable": true
                },
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "axisAlpha": 0,
                        "position": "left",
                        "ignoreAxisWidth": true
                    }
                ],
                "allLabels": [],
                "categoryAxis": {
                    "parseDates": false,
                    "dashLength": 1,
                    "minorGridEnabled": true
                },
                "balloon": {},
                "export": {
                    "enabled": true
                },
                "dataProvider": @Html.Raw((ViewData["json2"]))
            });

        var chartStock = AmCharts.makeChart("chartStock", {
            "type": "serial",
            "theme": "light",
            "hideCredits": true,
            "dataDateFormat": "YYYYMM",
            "legend": {
                "useGraphSettings": true
            },
            "prefixesOfBigNumbers": [
                {
                    "number": 1000,
                    "prefix": " Mio"
                },
                {
                    "number": 1000000,
                    "prefix": " Bio"
                },
                {
                    "number": 1000000000,
                    "prefix": " G"
                }
            ],
            "usePrefixes": true,
            "synchronizeGrid":true,
            "valueAxes": [{
                "id": "v2",
                "axisColor": "#FCD202",
                "axisThickness": 2,
                "axisAlpha": 1,
                "position": "left"
            }, {
                "id": "v1",
                "axisColor": "#FF6600",
                "axisThickness": 2,
                "axisAlpha": 1,
                "position": "right"
            }],
            "graphs": [{
                "valueAxis": "v2",
                "alphaField": "alpha",
                "lineColor": "#00FF00",
                "title": "Stock",
                "valueField": "stock",
                "type": "column",
                "fillAlphas": 1
            }, {
                "valueAxis": "v1",
                "lineColor": "#FF0000",
                "alphaField": "alpha",
                "title": "SWL",
                "valueField": "value",
                "type": "column",
                "fillAlphas": 1
            }],
            "chartScrollbar": {},
            "categoryField": "month",
            "categoryAxis": {
                "parseDates": false,
                "axisColor": "#DADADA",
                "minorGridEnabled": true
            },
            "dataProvider": @Html.Raw((ViewData["json3"]))
        });

        chartSellThru.addListener("rendered", zoomChart1);
        chartSellIn.addListener("rendered", zoomChart2);
        chartStock.addListener("dataUpdated", zoomChart3);

        zoomChart1();
        zoomChart2();
        zoomChart3();

        function zoomChart1() {
            chartSellThru.zoomToIndexes(chartSellThru.dataProvider.length - 40, chartSellThru.dataProvider.length - 1);
        }
        function zoomChart2() {
            chartSellIn.zoomToIndexes(chartSellIn.dataProvider.length - 40, chartSellIn.dataProvider.length - 1);
        }
        function zoomChart3() {
            chartStock.zoomToIndexes(chartStock.dataProvider.length - 20, chartStock.dataProvider.length - 1);
        }

        </script>
    }
