﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model User

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SMART LOGIN</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body>
    <div id="app">
        <center>
            <h3>WELCOME TO Smart Philips</h3>
            <img src="~/img/philips.png" alt="ship" width="300" height="100">
        </center>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading"><center>Philips</center></div>
                        <div class="panel-body">
                            
                            <form class="form-horizontal" role="form" method="post" asp-controller="Account" asp-action="Login">
                                @{if (ViewData["userEmail"] != null)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-offset-4">
                                                <label style="color: red;margin-left:15px;">@ViewData["userEmail"]</label>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="form-group">
                                    <label asp-for="Email" class="col-md-4 control-label">Email</label>
                                    <div class="col-md-6">
                                        <input id="email" type="email" class="form-control" asp-for="Email" name="email" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" for="password" class="col-md-4 control-label">Password</label>
                                    <div class="col-md-6">
                                        <input asp-for="Password" id="password" type="password" class="form-control" name="password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <div class="checkbox">
                                            <input type="submit" class="btn btn-primary pull-right" value="Login">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="~/js/app.js"></script>
</body>
</html>