﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model SalesAndStockModelView
@{
    ViewData["Title"] = "SalesAndStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader{
    <img src="~/img/graphic.png" style="height:auto; width:auto; max-width:40px;float:left">

    <h1 style="line-height:40px; float:left">
        Dashboard Report : Sales and Stock
        <small>Version 1.0</small>
    </h1>
}
<!-- Main content -->
<div class="content body row">
    <!-- Selection -->
    <section id="select" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Select Detail</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Index", "SalesAndStock", FormMethod.Post))
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @{ string level = HttpContextAccessor.HttpContext.Session.GetString("userLevel");}
                        <div class="col-lg-2 col-md-2  col-sm-12 col-xs-12">
                            <h4><strong>Selection @level</strong></h4>
                            @if (ViewData.ContainsKey("Regional"))
                            {
                                @Html.DropDownListFor(Model=>Model.selectionId, ViewData["regional"] as List<SelectListItem>, new { @id= "Regional", @name = "Regional", @class = "form-control" })
                            }
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <h4><strong>Area</strong></h4>
                            @Html.DropDownListFor(Model => Model.areaId, new SelectList(string.Empty, "Value", "Text"), "--- Select Area ---", new { @id = "Area", @name = "Area", @class = "form-control" })
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <h4><strong>Month</strong></h4>
                            @if (ViewData.ContainsKey("Month"))
                            {
                                @Html.DropDownListFor(Model => Model.monthId, ViewData["month"] as List<SelectListItem>, new { @id = "Month", @name = "Month", @class = "form-control" })
                            }

                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
    <!-- /#selection -->
    <!-- ============================================================= -->
    <!-- Graphic Sell Thru Summary -->
    <section id="sellthrusummary">
        <div class="col-lg-12">
            <h2 style="text-align:center">Sell Thru Summary</h2>
            <!-- GRAPHIC -->
            <div class="box box-primary col-lg-12">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body row">
                    <div class="col-lg-12">
                        @if (ViewData["selected"] != null)
                        {
                            <div class="col-lg-2 col-sm-6 col-xs-12">
                                <strong>@ViewData["areaId"]</strong>
                            </div>
                            <div class="col-lg-10 col-sm-6 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@ViewData["percentage"]" aria-valuemin="0" aria-valuemax="100" style="background:#940094; width:@ViewData["percentageWidth"]%">
                                       @ViewData["percentage"]%
                                    </div>
                                    @ViewData["sellThruGap"]
                                </div>
                            </div>
                         }
                    </div>
                </div>
            </div>
            <div class="box box-primary col-lg-12">
                <div class="box-header with-border">
                    <div class="box-title">
                        <h3>Sell Thru Summary Graphic</h3>
                        <div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#157c0c;color:white;"></div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#ef8f00;color:white;">Top</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#c91e12;color:white;">10</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#35af2a;color:black;">Non</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#e0e01a;color:black;">Top</div>
                            <div class="progress col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background:#ff0000;color:black;">10</div>
                        </div>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body row">
                    <div>
                        @if (ViewData["selected"] != null)
                        {
                            //for (int i = 0; i < (int)ViewData["totalSummary"]; i++)
                            for (int i =0; i < Model.SalesStockList.Count(); i++)
                            {
                                <div class="col-lg-2 col-sm-6 col-xs-12">
                                    <strong style="color: @Model.SalesStockList[i].styleBarSellThru;">@Model.SalesStockList[i].nameSellThru</strong>
                                </div>
                                <div class="col-lg-10 col-sm-6 col-xs-12">
                                    <form role="form" asp-controller="SalesAndStock" asp-action="Load" method="post">

                                        <input type="text" name="pick" value="@Model.SalesStockList[i].nameSellThru" hidden>
                                        <input type="text" name="select" value="@ViewData["selected"]" hidden>
                                        <input type="text" name="area" value="@ViewData["areaId"]" hidden>
                                        <input type="text" name="month" value="@ViewData["monthId"]" hidden>
                                        <div class="progress" onclick="myClick()">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.SalesStockList[i].topSellThru" aria-valuemin="0"
                                                 aria-valuemax="@Model.SalesStockList[i].sumSellThru" style="background:@Model.SalesStockList[i].styleTopSellThru; width:@Model.SalesStockList[i].topwidthSellThru%">
                                                @Model.SalesStockList[i].toppercentageSellThru%
                                            </div>
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.SalesStockList[i].nontopSellThru" aria-valuemin="0"
                                                 aria-valuemax="@Model.SalesStockList[i].sumSellThru" style="background:@Model.SalesStockList[i].styleNonSellThru; width:@Model.SalesStockList[i].nontopwidthSellThru%">
                                                @Model.SalesStockList[i].nontoppercentageSellThru%
                                            </div>
                                            @Model.SalesStockList[i].gapSellThru
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /Graphic Sell Thru Summary -->
    @*@await Html.PartialAsync("_SalesAndStockPartial")*@
    <!-- /Graphic Sell Thru Summary -->
    <!-- Graphic Sell In Summary -->
    <section id="sellinsummary">
        <div class="col-lg-12">
            <h2 style="text-align:center">Sell In Summary</h2>
            <!-- GRAPHIC -->
            <div class="box box-primary col-lg-12">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body row">
                    <div class="col-lg-12">
                        @if (ViewData["selected"] != null)
                        {
                            <div class="col-lg-2 col-sm-6 col-xs-12">
                                <strong>@ViewData["areaId"]</strong>
                            </div>

                            <div class="col-lg-10 col-sm-6 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-@ViewData["sellInBar"]" role="progressbar" 
                                         aria-valuenow="@ViewData["sellIn"]" aria-valuemin="0" aria-valuemax="@ViewData["sellInValueMax"] " 
                                         style="background:#940094; width:@ViewData["percentageSellInWidth"]%">
                                        @ViewData["percentageSellIn"]%
                                    </div>
                                    @ViewData["sellInGap"]
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box box-primary col-lg-12">
                <div class="box-header with-border">
                    <div class="box-title">
                        <h3>Sell In Summary Graphic</h3>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body row">
                    <div class="col-lg-12">
                        @if (ViewData["selected"] != null)
                        {
                            for (int i = 0; i < Model.SalesStockList.Count(); i++)
                            {
                                var widthSellin = System.Math.Round(Model.SalesStockList[i].sumSellIn / ((double)ViewData["sellIn"]/100) + 10);
                                <div class="col-lg-2 col-sm-6 col-xs-12">
                                    <strong style="color: @Model.SalesStockList[i].styleBarSellIn">@Model.SalesStockList[i].nameSellIn</strong>
                                </div>
                                <div class="col-lg-10 col-sm-6 col-xs-12">
                                    <form role="form" name="pick" action="" method="post">
                                        <input type="text" name="pick" value="" hidden>
                                        <input type="text" name="select" value="" hidden>
                                        <input type="text" name="area" value="" hidden>
                                        <input type="text" name="month" value="" hidden>
                                        <div class="progress" onclick="this.parentNode.submit();">
                                            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="@Model.SalesStockList[i].sumSellIn" 
                                                 aria-valuemin="0" aria-valuemax="@ViewData["sellIn"]" style="background: @Model.SalesStockList[i].styleBarSellIn; 
                                                 width:@widthSellin%">
                                                @Model.SalesStockList[i].percentageSellIn%
                                            </div>
                                            @Model.SalesStockList[i].gapSellIn
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </section>
    <!-- /Graphic Sell In Summary -->
    <!-- Graphic Sell In and Stock Week Level -->
    <section id="sellinstockweek">
        <div class="col-lg-6">
            <h2 style="text-align:center">Sell In</h2>
            <!-- GRAPHIC -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sell In Graphic</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                @if (ViewData["selected"] != null)
                {
                    <div class="box-body row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-sm-12 col-xs-12">
                                <strong style="color:orangered"></strong>
                            </div>
                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width:32%">
                                        23%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                 }
            </div>
        </div>
        <div class="col-lg-6">
            <h2 style="text-align:center">Stock Week Level</h2>
            <!-- GRAPHIC -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Stok Week Level Graphic</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                @if (ViewData["selected"] != null)
                {
                    <div class="box-body row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-sm-12 col-xs-12">
                                <strong style="color:cornflowerblue"></strong>
                            </div>
                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width:43%">
                                        43%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                 }
            </div>
        </div>
    </section>
    <input id="_areaSelected" value="@ViewData["area"]" hidden/>
    <input id="_selected" value="@ViewData["selected"]" hidden />
    <!-- /Graphic Sell In and Stock Week Level -->
    <!-- ============================================================= -->

</div><!-- /.content -->
<!-- jQuery 2.2.3 -->
<script src="~/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="~/adminlte/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/adminlte/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/adminlte/dist/js/demo.js"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Regional").change(function () {
                $("#Area").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetArea")',
                dataType: 'json',   
                data: { id: $("#Regional").val() },
                success: function (areas) {
                    console.log(areas);
                    $.each(areas, function (i, area) {
                         $("#Area").append('<option value="' + area.value + '"> ' + area.text + '</option > ');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve area.' + ex);
                }
            });
            return false;
            })
        });
        function myClick() {
            document.getElementById("demo").innerHTML = "Hello World";
        }

    </script>
}
